
<a class="btn btn-warning shopFilter all" ng-click="filters.ShopId = ''" >Alles</a>
<a ng-repeat="shop in shops" class="btn btn-primary shopFilter" style="display: inline" ng-click="filters.ShopId = shop.Id">{{shop.Description}}</a>


        <div class="container-fluid">
<div class="row item" ng-repeat="item in items| filter:filters" >
       <div class="col-md-11"><div class="description"><span class="glyphicon glyphicon-star-empty"></span> {{item.Description}} {{item.Quantity}}</div></div><div class="col-md-1"> <button class="btn btn-success btn-lg approve" ng-click="delete(item.Id)"><i class="glyphicon glyphicon-ok"></i></button></div>
</div>
</div>

        <div class="footer">
            <form novalidate>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2"> <button class="btn btn-success btn-block btn-lg add" ng-click="save(newItem)"><i class="glyphicon glyphicon-plus"></i></button></div>
                    <div class="col-md-5"><input type="text" class="form-control" id="Description" placeholder="Beschrijving" ng-model="newItem.Description"></div>
                    <div class="col-md-3"><input type="text" class="form-control" id="Quantity" placeholder="Aantal" ng-model="newItem.Quantity"></div>
                    <div class="col-md-2">
                        <select id="shop" class="form-control" ng-model="newItem.ShopId">
                        <option ng-repeat="shop in shops" value="{{shop.Id}}" ng-selected="shop.Description == 'Algemeen'">{{shop.Description}}</option>
                    </select>
                    </div>
                </div>

            </div>
            </form>

        </div>